
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;600;700&display=swap');




*{
    margin:0px;
    padding: 0px;
    background-color: #360369;
    color:white;
    font-family: 'Inter', sans-serif;
}
.maindiv{
    display: flex;
    justify-content: center;
    top:200px; 
    position: relative;
    flex-direction: column;
    margin-left: 50px;
    align-items: center;
   
}
.maindiv>h1{
    font-size: 80px;
    font-weight: 700;

}
button{
    background-color: white;
    color:black;
    width:400px;
    height: 50px;
    cursor: pointer;
    border: none;
    margin:20px;
    font-size: 18px;
}